.header {
    margin-bottom: 20px;
}
.d-flex.tools {
    width: 90px;
    justify-content: space-between;
}
a.navbar-brand.logo {
    color: #ffffff;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card.content-card {
    margin-right: 20px;
    margin-bottom: 20px;
}
.content{
    min-height: 85vh;
}
.footer {
    min-height: 70px;
    color: #ffffff;
    padding: 15px;
}
.popup {
    display: none;
    position: absolute;
    background: #8b8787ed;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 999;
}

.content-trash {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    margin: 100px auto;
}
.trash-card {
    width: 300px;
    height: 300px;
}
.trash-card {
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
}
.image-trash {
    width: 100px;
}
.trash-out {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.header-trash {
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}


.modalbuy {
    /* position: absolute !important; */
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modalbuy .modal_content {
    /* position: absolute !important; */
    background-color: #542aa3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b03030;
    width: 80%;
    z-index: 99999;
}
.modalbuy .modal_content .close_modal_window {
    /* position: absolute !important; */
    color: #257135;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#form1 {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }
  
  #form1.open {
    display: block;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }