.header {
    margin-bottom: 20px;
}
.d-flex.tools {
    width: 90px;
    justify-content: space-between;
}
a.navbar-brand.logo {
    color: #ffffff;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card.content-card {
    margin-right: 20px;
    margin-bottom: 20px;
}
.content{
    min-height: 85vh;
}
.footer {
    min-height: 70px;
    color: #ffffff;
    padding: 15px;
}
.popup {
    display: none;
    position: absolute;
    background: #8b8787ed;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 999;
}

.content-trash {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    margin: 100px auto;
}
.trash-card {
    width: 300px;
    height: 300px;
}
.trash-card {
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
}
.image-trash {
    width: 100px;
}
.trash-out {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.header-trash {
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}


.popup-login {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #8b8787ed;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 999;
}
.form-wrapper {
    width: 400px;
    height: 300px;
    padding: 10px;
}

.imageTable {
    width: 100px;
}
.images {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-card {
    display: flex;
    width: 800px;
    border: 1px solid black;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.image{
    width: 150px;
}
.image-card {
    width: 150px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.content-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px
}